<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>orderForm2</title>
</head>
<body>
	<h3>사용자 입력 폼</h3>
	<form action="orderAttr" method="post">
		<input name="id" placeholder="주문 ID">
		<input name="amount"  type="number"  
		  placeholder="주문 수량">
		배송날짜 : <input name="devDate" type="date" id="dev">
		<button type="button" onclick="test()">test</button>
		<!-- <input type="submit" value="주문"> -->
	</form>
	<script type="text/javascript">
		function test(){
			console.log(document.querySelector('#dev').value)
			if (document.querySelector('#dev').value === '')
				alert("날짜 선택!!")
		}
	</script>
</body>
</html>